{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <form action="javascript:sendMessage();">
            <section class="section">
                <div class="container">
                    <div class="columns is-multiline">
                        <div class="column is-6 is-offset-3 mb-6">
                            <section class="hero is-primary">
                                <div class="hero-body">
                                    <p class="title">
                                        Chatty
                                    </p>
                                    <p class="subtitle">
                                        A simple chat built with Django, Channels and Redis
                                    </p>
                                </div>
                            </section>
                        </div>

                        <div class="column is-6 is-offset-3">
                            <div class="box">
                                <div id="chat-messages" style="max-height: 300px; overflow-y: scroll;">
                                    {% for m in messages %}
                                        {% if m.username == username %}
                                            <div class="communication me">
                                                <span><b>{{ m.username }}</b>: {{ m.content }}<br></span>
                                            </div>
                                        {% else %}
                                            <div class="communication friend">
                                                <span style="float: right"><b>{{ m.username }}</b>: {{ m.content }}<br></span>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="typing">
                                    <p class="sender"></p>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input onkeyup="sendTypingSignal()" class="input" type="text" placeholder="Message"
                                           id="chat-message-input">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">

                                    <button class="button is-info" id="chat-message-submit">Submit</button>

                                </div>
                            </div>

                            <small class="has-text-grey-light">Your username: {{ username }}</small>
                        </div>
                    </div>

                </div>
            </section>
        </form>
        {{ room_name|json_script:"json-roomname" }}
        {{ username|json_script:"json-username" }}
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}


    <script>

        function scrollToBottom() {
            let objDiv = document.getElementById("chat-messages");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        scrollToBottom();

        const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
        const userName = JSON.parse(document.getElementById('json-username').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function (e) {
            console.log('onmessage');
            $('.communication').removeClass('new')
            const data = JSON.parse(e.data);
            if (data.action === 'typing') {
                //show typing indicator
                if (data.username !== userName) {
                    $('.sender').text(data.username + ' is typing')
                    $('.typing').addClass('show_typing')
                }
            } else if (data.action === 'un_typing') {
                if (data.username !== userName) {
                    $('.typing').removeClass('show_typing')
                }
            } else if (data.action === 'send') {
                var message = ''
                if (data.message) {
                    if (data.username === '{{ username }}') {
                        message = ('<div class="communication me new"><span><b>' + data.username + '</b>: ' + data.message + '<br></span></div')
                    } else {
                        message = ('<div class="communication friend new"><span><b>' + data.username + '</b>: ' + data.message + '<br></span></div')
                    }
                    $('.typing').removeClass('show_typing')
                    document.querySelector('#chat-messages').innerHTML += message;

                }
            }


            scrollToBottom();
        };

        chatSocket.onclose = function (e) {
            console.log('The socket close unexpectadly');
        };
        $('#chat-message-input').on('keyup change', function (e){
            if ($('#chat-message-input').val() != '') {
                chatSocket.send(JSON.stringify({
                    'action': 'typing',
                    'username': userName,
                    'message': '',
                    'room': roomName
                }));
            } else {
                chatSocket.send(JSON.stringify({
                    'action': 'un_typing',
                    'username': userName,
                    'message': '',
                    'room': roomName
                }));
            }
        })


        function sendMessage() {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            chatSocket.send(JSON.stringify({
                'action': 'send',
                'message': message,
                'username': userName,
                'room': roomName
            }));

            messageInputDom.value = '';
        }

    </script>
{% endblock %}